<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forRentPage.css">
    <link rel="stylesheet" href="headbar.css">
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('./nav/headbar.ejs') %>

    <section>
        <!-- title -->
        <h1>Sale homes</h1>

        <!-- Search Section -->
        <section class="search-section">
            <h2>Find Your Dream Home</h2>
            <form action="/search" method="GET" class="search-form">
                <div class="form-group">
                    <label for="location">Location Area</label>
                    <input type="text" id="location" name="location" placeholder="Enter location">
                </div>
                <div class="form-group">
                    <label for="priceRange">Price Range</label>
                    <input type="text" id="priceRange" name="priceRange" placeholder="Enter price range(a-b)">
                </div>
                <div class="form-group">
                    <label for="rooms">Number of Rooms</label>
                    <input type="number" id="rooms" name="rooms" placeholder="Enter number of rooms">
                </div>
                <button type="submit" class="search-button">Search</button>
            </form>
        </section>

        <div class="card-collection">
            <% if (salehousings.length > 0) { %>
                <% salehousings.forEach(salehousing => { %>
                    <a href="/sale/<%= salehousing._id %>">
                        <div class="card-container">
                            <div>
                                <img class="card-image" src="<%= salehousing.fullHousePictures[0] %>" alt="">
                            </div>
                            <div class="card-content">
                                <div class="card-price">$<%= salehousing.price %></div>
                                <div class="card-rooms">#</div>
                                
                            </div>
                        </div>
                    </a>
                <% }) %>
            <% } else { %>
                <p>No houses available for sale at the moment, please visit us another time.</p>
            <% } %>    
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; abenezer seleshi. All Rights Reserved.</p>
    </footer>
</body>
</html>
