<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homePage.css">
    <link rel="stylesheet" href="headbar.css">
    <title>Home - Lysena</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('./nav/headbar.ejs') %>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
            <h1>OUR BUILDINGS INTEGRATE THE BEST COSY HOMES</h1>
            <button class="cta-button">Showcase the Best Deals</button>
        </div>
    </section>

    <!-- Categories Section -->
    <section class="categories">
        <div class="category-tabs">
            <a href="#">Landscape</a>
            <a href="#">Commercial</a>
            <a href="#">Residential</a>
            <a href="#">Industrial</a>
            <a href="#">Urban</a>
        </div>
    </section>

    <!-- collections links -->
    <section class="properties">
    
    <a href="/for-sale">
        <div class="property-card" style="background-image: url('images/3i3_urcJ.jpg');">
            <h2>Sale Houses</h2>
        </div>
    </a>

    <a href="/for-rent">
        <div class="property-card" style="background-image: url('images/Luxury%20home.jpg');">
            <h2>Rent Houses</h2>
        </div>
    </a>

    <a href="#">
        <div class="property-card" style="background-image: url('images/The%20Peninsula%20Shanghai.jpg');">
            <h2>communicate with us</h2>
        </div>
    </a>
</section>


    <!-- Footer -->
    <footer>
        <p>&copy; abenezer seleshi. All Rights Reserved.</p>
    </footer>
</body>
</html>