<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <div class="card">
            <img class="full-view-img" src="#" alt="full view picture">
            <!-- <div class="rooms">
                <img class="i-room" src="#" alt="room 1 picture">
                <img class="i-room" src="#" alt="room 2 picture">
                <img class="i-room" src="#" alt="room 3 picture">
                <img class="i-room" src="#" alt="room 4 picture">
            </div> -->
            <h2>number of rooms: x</h2>
            <h2>price: x</h2>
        </div>
     </div>
</body>
</html>