<header>
    <nav class="navbar">
        <div class="logo">
            <a href="#">HOUSING</a>
        </div>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li class="dropdown">
                <a href="#">Post</a>
                <ul class="dropdown-menu">
                    <li><a href="/post-sale-house">Sales</a></li>
                    <li><a href="/post-rent-house">Rent</a></li>
                    <li><a href="/post-hotel">Hotels</a></li>
                </ul>
            </li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
</header>
